<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.first_name %>, someone reviewed a cheese you added!</h1>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for contributing to BettrCheddr!</p>
  </body>
</html>
