<ul>
  <% @cheeses.each do |cheese| %>
    <li>
      <h2> <%= link_to cheese.name, cheese %> </h2>
      <p><%= cheese.description %></p>
    </li>
  <% end %>
</ul>

<%= link_to "New Cheese", new_cheese_path%>
