<ul>
  <% @cheeses.each do |cheese| %>
    <li class="callout">
      <h2><%= link_to cheese.name, cheese %></h2>
      <p><%= cheese.description %></p>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to "New Cheese", new_cheese_path %>
<% end %>

<div id="app">
</div>
