<div class="new-cheese">
  <% if current_user %>
    <a href="/cheeses/new" class="button">New Cheese</a>
  <% end %>
</div>

<div class="search-bar">
  <input type="text" name="Search" id="search">
  <button type="button" name="search-submit" id="search-submit">Search</button>
</div>

<div id="app">
</div>
