<div class="input-group search-bar">
  <input type="text" name="Search" class="input-group-field"id="search">
  <a href='#' class="input-group-button button" id="search-submit">Search</a>
</div>

<div class="new-cheese">
  <% if current_user %>
    <a href="/cheeses/new" class="button">New Cheese</a>
  <% end %>
</div>

<div id="app">
</div>
