<div class="new-cheese">
  <% if current_user %>
    <a href="/cheeses/new" class="button">New Cheese</a>
  <% end %>
</div>

<ul class="cheeselist column small-12">
  <% @cheeses.each do |cheese| %>
    <li class="callout">
      <h2><%= link_to cheese.name, cheese %></h2>
      <p><%= cheese.description %></p>
    </li>
  <% end %>
</ul>
