<h2>Edit User</h2>

<%= render 'form' %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Do you really want to cut all ties with the cheesiest of cheeses??" }, method: :delete %></p>
