<h2>Edit User</h2>

<%= render 'form' %>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Do you really want to cut all ties with the cheesiest of cheeses??" }, method: :delete, class: "button" %></p>
