/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

li {
  list-style-type: none;
}
.devise-form {
  width: 75%;
  margin: auto;
}
.callout {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
.cheeselist {
  margin: auto;
}
.main {
  width: 75%;
}
.reviewlist {
  margin: auto;
}
.new-cheese {
  padding-top: 15px;
  text-align: right;
}
.title-text {
  font-family: 'Alegreya', serif;

}
.cheese-pic {
  max-width: 150px;
  max-height: 150px;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}
div.cheese-pic-show {
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
}
.rating {
  font-size: 150%;
  margin-bottom: 0;
}

.cheese-name {
  margin-bottom: 0;
}
